{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    </head>
    <body>
       <div class="page-header">
       

    <h1><a href="/">DjangoGirls Blog</a></h1>

</div><br>
	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}"> <button>logout</button></a><br>
	{% else%}
		<a href="{% url 'login' %}"> <button>login</button></a><br>
		{% endif %}
	
		{% if user.is_authenticated %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"><button >NEW</button></span></a>
	{% endif %}
	{% block content %}
            {% endblock %}

     
    </body>
</html>